body{
    margin:0;
    padding:0;
}

#pageHeader{
    margin-left:auto;
    margin-right:auto;
    font-family:"Lucida Console";
    text-align:center;
}

#board{
    margin-left:auto;
    maring-right:auto;
    text-align:center;
}